@use "src/mixins" as c;

.card{
        width: 100%;
        @include c.df-jcc-aic;   
        background-color: white;   
        flex-direction: column;
        justify-content: flex-start;
        text-align: start;
        padding: 1rem;
        height: 420px;  
}

.card__title{
    font-weight: 700;
    font-size: 1.3rem;
    width: 100%;
}

.card__img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.card__link{
    text-decoration: none;
    width: 100%;
    text-align: start;
    margin-top: 1rem;

    &:hover{
        color:var(--main-color-dark);
        text-decoration: underline;
    }
}
