<div
    [ngClass]="{ 'menu-active': opened | async }"
    (mouseenter)="openMenu()"
    (mouseleave)="closeMenu()"
    class="login-container"
>
    <div class="login-container__account">
        <button>Accedi</button>
        <p>Nuovo cliente? <a href="/">Inizia qui.</a></p>
    </div>
    <hr class="divider" />
    <div class="login-container__menu">
        <div class="login-container__menu-list">
            <h2>Le tue liste</h2>
            <ul>
                <li><a href="/">Crea una lista</a></li>
                <li><a href="/">Salva articoli dal Web</a></li>
                <li><a href="/">Lista Nozze</a></li>
                <li><a href="/">Lista Nascita</a></li>
                <li><a href="/">Scopri il tuo stile</a></li>
                <li><a href="/">Esplora Showroom</a></li>
            </ul>
        </div>

        <div class="divider--vertical"></div>

        <div class="login-container__menu-list">
            <h2>Il mio account</h2>
            <ul>
                <li><a href="/">Il mio account</a></li>
                <li><a href="/">I miei ordini</a></li>
                <li><a href="/">La mia Lista Desideri</a></li>
                <li><a href="/">Consigliati per te</a></li>
                <li><a href="/">Il mio account</a></li>
                <li><a href="/">I miei ordini</a></li>
                <li><a href="/">La mia Lista Desideri</a></li>
                <li><a href="/">Consigliati per te</a></li>
                <li><a href="/">Il mio account</a></li>
                <li><a href="/">I miei ordini</a></li>
                <li><a href="/">La mia Lista Desideri</a></li>
                <li><a href="/">Consigliati per te</a></li>
                <li><a href="/">Il mio account</a></li>
                <li><a href="/">I miei ordini</a></li>
                <li><a href="/">La mia Lista Desideri</a></li>
            </ul>
        </div>
    </div>
</div>
