.main-header{
    position: relative;
    box-shadow: none;
    transition: box-shadow 0.2s;
}

.dark-overlay{
    -webkit-box-shadow: 5px 5px 0px 10000px hsla(0, 0%, 0%, 0.650);
    -moz-box-shadow: 5px 5px 0px 10000px hsla(0, 0%, 0%, 0.650);
    -o-box-shadow: 5px 5px 0px 10000px hsla(0, 0%, 0%, 0.650);
    box-shadow: 5px 5px 0px 10000px hsla(0, 0%, 0%, 0.650);
    z-index: 100;
}